{% load static %}
<nav class="navbar bg-yellow navbar-bus-associate navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="d-flex align-items-end">
                <div>
                    <a class="navbar-brand" href="#"><img
                            src="{% static 'images/PSF-digital-logo.jpg' %}"
                            alt="..." /></a>
                </div>
                <div>
                    <p class=" navabr-logo fw-bold">PAKISTAN SHOPPING FESTIVAL</p>
                    <hr class="mb-0 nav-hr">
                </div>
            </div>
            <button class="navbar-toggler business-associate-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon business-associate-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mb-2 m-auto mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            PAGE
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li>
                                <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another action</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SPEAKERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SCHEDULE</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            NEWS
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li>
                                <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another action</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button type="button" class="btn rounded-0 bg-black text-light fw-bold">
                        Buy Tickets
                    </button>
                </form>
            </div>
        </div>
    </nav>